In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pickle
import sys 

root_path = 'C://Users//HP//projects//DiplomaThesis'
sys.path.append(f'{root_path}//utils')
sys.path.append(f'{root_path}//pipeline')

from data import Anomalies

%load_ext autoreload
%autoreload 2
%matplotlib inline

In [91]:
anom = Anomalies(nrows=300)

In [92]:
anom.features

                         AV    AC  ChiFA       ChR       dAEF    DispLTST  \
DTID   date
131857 2001-05-01  0.536693   6.0    0.0  0.071429   0.100609 -214.209284
13470R 2002-04-01       NaN   NaN    NaN       NaN        NaN         NaN
134982 1998-10-01  0.933567   9.0    0.0  0.000000  -0.127950         NaN
135229 2013-08-01  0.963732  14.0    0.0  0.000000  -2.425484   71.628731
139996 2009-03-01  0.100450   1.0    0.0  0.000000 -36.508854         NaN
...                     ...   ...    ...       ...        ...         ...
997758 1995-11-01       NaN   NaN    NaN       NaN        NaN         NaN
       2006-01-01       NaN   NaN    NaN       NaN        NaN         NaN
       2016-09-01       NaN   NaN    NaN       NaN        NaN         NaN
998213 2014-03-01  0.805222  32.0   -1.0 -0.039216  -0.018756  -20.767887
998511 1990-04-01       NaN   NaN    NaN       NaN        NaN         NaN

                     DispLT   DF      EFoP        FD  ...       ECoBP  \
DTID   date                                           ...
131857 2001-05-01       NaN  0.0  0.053669  0.096547  ...    0.855042
13470R 2002-04-01       NaN  NaN       NaN       NaN  ...    0.027094
134982 1998-10-01       NaN  1.0  0.093357  0.000332  ...    0.377814
135229 2013-08-01  0.130214  1.0  0.096373  0.004749  ...    0.897318
139996 2009-03-01       NaN  1.0  0.010045       NaN  ...   -0.009152
...                     ...  ...       ...       ...  ...         ...
997758 1995-11-01       NaN  NaN       NaN       NaN  ...    1.304061
       2006-01-01       NaN  NaN       NaN       NaN  ...   -6.897631
       2016-09-01       NaN  NaN       NaN       NaN  ... -504.013752
998213 2014-03-01  7.486264  1.0  0.080522  0.108444  ...    1.018869
998511 1990-04-01       NaN  NaN       NaN       NaN  ...         NaN

                          EM  IntanRet       LCoBP       NPY  OperLvrg  \
DTID   date
131857 2001-05-01  -2.280819       NaN   -0.188291  0.000000       NaN
13470R 2002-04-01  46.438905       NaN    0.122222       NaN       NaN
134982 1998-10-01   6.714641       NaN   -0.159918  0.045651  1.519081
135229 2013-08-01   4.070636 -0.104907   -0.166498  0.092608       NaN
139996 2009-03-01  10.574208 -0.694607    0.226749  0.000000  0.655852
...                      ...       ...         ...       ...       ...
997758 1995-11-01 -69.779488       NaN   -0.009692  0.000144       NaN
       2006-01-01   1.320293 -2.128315    8.263689  0.000000  0.189840
       2016-09-01   0.012619 -0.066686  505.679699  0.000000  0.252137
998213 2014-03-01   8.529889 -0.034006    0.014678  0.009341       NaN
998511 1990-04-01        NaN       NaN         NaN       NaN       NaN

                         PY      SalesGr   SaleToMV      SuGr
DTID   date
131857 2001-05-01 -0.039849   542.733333  18.528205 -0.004713
13470R 2002-04-01       NaN          NaN   0.096226  0.142816
134982 1998-10-01  0.045651          NaN   1.836390  0.218052
135229 2013-08-01  0.092608  2855.933333   5.684758 -0.075875
139996 2009-03-01  0.000000  3402.600000   0.295648  0.186965
...                     ...          ...        ...       ...
997758 1995-11-01  0.000010          NaN   0.151411 -0.047096
       2006-01-01  0.000000  1070.933333   0.306649  0.020750
       2016-09-01  0.000000  1369.666667   0.330806 -0.090515
998213 2014-03-01  0.014654  3021.466667   1.047055 -0.002711
998511 1990-04-01       NaN          NaN        NaN       NaN

[300 rows x 153 columns]